@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-left{
    display: none;
}
 .hero-right{
    display: none;
}
body{
    width: 100vw;
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    margin: auto;
}
.logo{
    width: 119px;
    height: 28px;
    color: #191826;
    margin-top: 48px;
}
.hero{
    margin-top: 56px;
    width: 414px;
    height: 153px;
}
.meetings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 48px 24px 0px 24px;
}
.meetings h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #28283D;
}
.meetings p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
    margin-top: 24px;
}
.button-container{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;  
}
button{
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.btn-dow{
    Width:193px;
    Height:58px;
    background: #4D96A9;
    border-radius: 29px;
    border: none;
    cursor: pointer;
}
:hover.btn-dow{
    background:#71C0D4 ;
}
.span1{
    color: #8FE3F9;
}
.btn-what{
    Width:139px;
    Height:58px;
    background: #855FB1;
    border-radius: 29px;
    border: none;
    cursor: pointer;
}
:hover.btn-what{
    background:#B18BDD;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.line {
    background: #87879D;
    margin-top: 64px;
    width: 1px;
    height: 84px;
}

.number_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    color: #87879D;
    font-size: 16px;
    font-weight: 900;
    border: 1px solid  #87879D;
    border-radius: 29px;
    width: 56px;
    height: 56px;
}

.number {
    text-align: center;
}
.img-container{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 24px 25px;
}
.woman-videocall{
    background-image: url(assets/desktop/image-woman-in-videocall.jpg);
    background-size: cover;
    width: 151px;
    height: 143px;
    border-radius: 8px;
}
.woman-videochatting{
    background-image: url(assets/desktop/image-women-videochatting.jpg);
    background-size: cover;
    width: 151px;
    height: 143px;
    border-radius: 8px;
}
.man-meeting{
    background-image: url(assets/desktop/image-men-in-meeting.jpg);
    background-size: cover;
    width: 151px;
    height: 143px;
    border-radius: 8px;
}
.man-texting{
    background-image: url(assets/desktop/image-man-texting.jpg);
    background-size: cover;
    width: 151px;
    height: 143px;
    border-radius: 8px;
}
.description{
    margin: 64px 24px 0px 24px;
}
.description h3{
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
}
.description h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #28283D; 
    margin-top: 24px;
}
.description p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
    margin-top: 32px;
}
footer{
    margin-top: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/mobile/image-footer.jpg"), linear-gradient(#71C0D4,#71C0D4);
    background-blend-mode: overlay;
    background-size: cover;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -110px;
}
.line2{
    background: #87879D;
    width: 1px;
    height: 84px;
}
.number_div2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    color: #87879D;
    font-size: 16px;
    font-weight: 900;
    border: 1px solid  #87879D;
    border-radius: 29px;
    width: 56px;
    height: 56px;
}
.number2{
    align-items: center;
}
.foot-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:92px 24px 72px 24px;
}
.experience-foot{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FAFAFA;
}
.text-foot{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FAFAFA;
    margin-top: 24px;
}
.btn-foot{
    Width:193px;
    Height:58px;
    background: #855FB1;
    border-radius: 29px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}
.span2{
    color: #D9B8FF;
}
:hover.btn-foot{
    background: #B18BDD;
}
@media screen and (min-width: 768px){
    .hero{
        margin-top: 78px;
        width: 820px;
        height: 303px;
    }
    .meetings{
        margin: 72px 156px 0px 155px;
    }
    .meetings h1{
        font-size: 48px;
        line-height: 48px;
    }
    .button-container{
        flex-direction: row; 
    }
    .btn-dow{
        background: #4D96A9;
        border: none;
        cursor: pointer;
    }
    .section1 {
        margin-bottom: 67px;
    }
    .line{
        margin-top: 67px;
    }
    .img-container{
        grid-template-columns: auto auto auto auto;
        gap: 11px;
    }
    .woman-videocall{
        width: 164px;
        height: 156px;
    }
    .woman-videochatting{
        width: 164px;
        height: 156px;
    }
    .man-meeting{
        width: 164px;
        height: 156px;
    }
    .man-texting{
        width: 164px;
        height: 156px;
    }
    .description{
        margin: 48px 98px 0px 97px;
        width: 573px;
    }
    .description h2{
        margin-top: 16px;  
    }
    footer{
        margin-top: 192px;
    }
    .foot-section{
        margin:92px 98px 66px 97px;
    }
    .experience-foot{
        Width:457px;
        font-size: 40px;
        line-height: 44px;
    }
    .text-foot{
        margin-top: 32px;
    }
    .btn-foot{
        margin-top: 40px; 
    } 
}
@media screen and (min-width: 1440px){
    .hero{
        display: none;
    }
    .logo{
        margin-top: 80px;
    }
    .hero-left{
        display: inline;
    }
    .header-container{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }
    .meetings{
        margin: 110px 88px 0px 88px;
        width: 540px;
        height: 304px;
    }
    .meetings h1{
        font-size: 64px;
        line-height: 64px;
    }
    .meetings p{
        font-size: 18px;
        line-height: 26px;
    }
    .hero-right{
        display: inline;
    }
    .section1{
        margin-bottom: 64px;
    }
    .line{
        margin-top: 117px
    }
    .img-container{
        gap:30px;
    }
    .woman-videocall{
        width: 255px;
        height: 242px;
    }
    .woman-videochatting{
        width: 255px;
        height: 242px;
    }
    .man-meeting{
        width: 255px;
        height: 242px;
    }
    .man-texting{
        width: 255px;
        height: 242px;
    }
    .description{
        margin: 80px 450px 0px 450px;
        width: 540px;
    }
    .description p{
        font-size: 18px;
    }
    footer{
        margin-top: 184px;
        height: 308px;
    }
    .foot-section{
        flex-direction: row;
    }
    .experience-foot{
        text-align: start;
    }
    .text-foot{
        margin-top: 0px;
        margin-left: 125px;
    }
    .btn-foot{
        margin-top: 0px;
        margin-left: 92px; 
    } 
}